[Unit]
Description=Activate podman-quadlets sysext on boot
Wants=network-online.target
Wants=quadlets-first-boot-fetch.service
After=network-online.target
After=quadlets-first-boot-fetch.service

[Service]
Type=oneshot
StateDirectory=podman-quadlets
Restart=on-failure
RestartSec=30s
ExecStartPre=/usr/bin/test -e /var/lib/podman-quadlets/quadlets.raw
ExecStart=/usr/bin/install -D -m 0644 /var/lib/podman-quadlets/quadlets.raw /run/extensions/podman-quadlets.raw
ExecStart=/usr/bin/systemd-sysext merge
ExecStart=/usr/bin/systemd-tmpfiles --create /usr/lib/tmpfiles.d/quadlets-manifests.conf
ExecStart=/usr/bin/cp -a /usr/share/quadlets/examples/*.container /var/lib/containers/systemd/
ExecStart=/usr/bin/systemctl daemon-reload
ExecStart=/usr/bin/systemctl enable --now pihole.service vaultwarden.service glance.service hermes-agent.service tailscale.service

[Install]
WantedBy=multi-user.target
