[Unit]
Description=Pi-hole - Network-wide ad blocking
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/pihole/pihole:2024.07
ContainerName=pihole
Network=host
Publish=53/udp
Publish=53/tcp
Publish=80/tcp
Volume=pihole-etc:/etc/pihole
Volume=pihole-dnsmasq:/etc/dnsmasq.d
Environment=TZ=%{CONTAINER_TZ:-UTC}
Environment=WEBPASSWORD_FILE=/run/pihole/webpassword
Environment=DNSMASQ_LISTENING=all
Exec=/usr/bin/podman systemd uproot %u /etc/pihole:/etc/pihole:Z /etc/dnsmasq.d:/etc/dnsmasq.d:Z
ExecStop=/usr/bin/podman stop pihole
ExecStopPost=/usr/bin/podman rm pihole
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
